.t-msgbox-box{
  display: block;
}

.t-msgbox .modal.in .modal-dialog{
  top: 30%;
  margin-top: 0;
}

.t-msgbox-header .close{
  margin-top: -8px;
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  color: #FFF;
  font-weight: 100;
  font-size: 32px;
}

.t-msgbox-header{
  background-color: #242a36;
  padding: 15px;
  color: #FFF;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.t-msgbox-title{
  margin: 0;
  font-size: 16px;
}
.t-msgbox-body {
  position: relative;
  padding: 15px;
}
.t-msgbox-footer{
  padding: 0 15px 15px;
  text-align: center;
}
.t-msgbox-footer .btn{
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 768px){
  .modal-sm {
      width: 360px;
  }
}

.btn{
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn-gray {
  color: #FFF;
  background-color: #bbb;
  border-color: #bbb;
}
.btn-gray:focus,
.btn-gray.focus {
  color: #FFF;
  background-color: #AAA;
  border-color: #AAA;
}
.btn-gray:hover {
  color: #FFF;
  background-color: #AAA;
  border-color: #AAA;
}
.btn-gray:active,
.btn-gray.active {
  color: #FFF;
  background-color: #AAA;
  border-color: #AAA;
}
.btn-gray:active:hover,
.btn-gray.active:hover,
.btn-gray:active:focus,
.btn-gray.active:focus,
.btn-gray:active.focus,
.btn-gray.active.focus {
  color: #FFF;
  background-color: #AAA;
  border-color: #AAA;
}
.btn-gray:active,
.btn-gray.active {
  background-image: none;
}

.btn-blue {
  color: #FFF;
  background-color: #1a82d2;
  border-color: #1a82d2;
}
.btn-blue:focus,
.btn-blue.focus {
  color: #FFF;
  background-color: #3271a8;
  border-color: #3271a8;;
}
.btn-blue:hover {
  color: #FFF;
  background-color: #3271a8;;
  border-color: #3271a8;;
}
.btn-blue:active,
.btn-blue.active {
  color: #FFF;
  background-color: #3271a8;
  border-color: #3271a8;
}
.btn-blue:active:hover,
.btn-blue.active:hover,
.btn-blue:active:focus,
.btn-blue.active:focus,
.btn-blue:active.focus,
.btn-blue.active.focus {
  color: #FFF;
  background-color: #3271a8;
  border-color: #3271a8;
}
.btn-blue:active,
.btn-blue.active {
  background-image: none;
}
