.t-pagination{
  color: #666;
}
.t-pagination .jump-input{
  padding-left: 0px;
  padding-right: 0px;
}
.t-pagination .pagination{
  margin: 0;
  vertical-align: middle;
}

.t-pagination .form-group{
  margin-left: 5px;
  margin-right: 5px;
}

.t-pagination .font-sm{
  font-size: 12px;
}

.t-pagination .font-md{
  font-size: 16px;
}

.t-pagination .font-lg{
  font-size: 18px;
}

