.t-pagination{
  color: #666;
}
.t-pagination .jump-input{
  padding-left: 0px;
  padding-right: 0px;
}
.t-pagination .pagination{
  margin: 0;
  vertical-align: middle;
}

.t-pagination .form-group{
  margin-left: 5px;
  margin-right: 5px;
}

.t-pagination .font-sm{
  font-size: 12px;
}

.t-pagination .font-md{
  font-size: 16px;
}

.t-pagination .font-lg{
  font-size: 18px;
}

.t-pagination .prev a, .t-pagination .next a{
  width: 28px;
  padding-left: 0;
  padding-right: 0;
}
.t-pagination .prev a::before, .t-pagination .next a::before{
  content: "...";
  position: relative;
  top: -2px;
}

.t-pagination .prev a:hover::before, .t-pagination .next a:hover::before{
  font-size: 1.2em;
  line-height: 100%;
  top: 0;
}

.t-pagination .prev a:hover::before{
  content: "«";
}
.t-pagination .next a:hover::before{
  content: "»";
}
